@font-face {
    font-family: 'invasion';
    src: url('../font/INVASION2000.TTF');
}

body {
    margin: 0 auto;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#myCanvas {
    background: #000;
}